In [40]:
import pandas as pd
import numpy as np

In [41]:
def load_data():
    my_data, original_data = pd.read_csv('../../data/datasets/measurements_ANSURI_female.csv',index_col=0), pd.read_csv('../../data/datasets/paper_measurements_ANSURI_female.csv',index_col=0)

    # Drop the first column
    return my_data, original_data

In [42]:
my_measurement, original_measurement = load_data()
waist, original_waist = my_measurement.waist_girth, original_measurement.waist_girth

In [51]:
diff = np.abs(waist - original_waist) # diferença em valores absolutos
diff =np.abs(waist.values - original_waist.values)
return_data = {"max":np.max(diff),"min":np.min(diff),"mean":np.mean(diff)}
return_data

(5.170000000000002, 0.0, 1.3352626811594204)

In [32]:
data = load_data()[0]
my_dat = data.iloc[0].to_dict()
my_dat['gender'] = "female"
pd.DataFrame([my_dat]).to_csv('../../data/input_files/test.csv')

In [38]:
test_csv = pd.read_csv('../../data/input_files/test.csv',index_col=0)
test_csv

,weight_kg,stature_cm,neck_base_girth,chest_girth,waist_girth,hips_buttock_girth,shoulder_girth,thigh_girth,thigh_low_girth,calf_girth,...,wrist_girth,shoulder_length,sleeveoutseam_length,forearm_length,crotchheight_length,waistback_length,thigh_length,chest_depth_length,head_girth,gender
0,81.85,164.05,40.94,112.21,98.48,103.42,113.17,62.15,41.15,39.01,...,16.44,12.44,57.24,24.44,75.65,39.81,39.06,30.07,56.94,female